@font-face {
  font-family: NowRegular;
  src: url("~@/assets/scss/fonts/Now-Regular.otf") format("opentype");
}

@font-face {
  font-family: NowMedium;
  font-weight: normal;
  src: url("~@/assets/scss/fonts/Now-Medium.otf") format("opentype");
}

@font-face {
  font-family: NowBold;
  font-weight: normal;
  src: url("~@/assets/scss/fonts/Now-Bold.otf") format("opentype");
}
